body{
    color:white;
    background:black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom:100px ;
}

header {
    border-bottom: solid 2px rgb(0, 26, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(33, 39, 97);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

P {
    font-size: 20px;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}